html {
    height: 100%;
  }
  
  body {
    background-color: rgb(245, 231, 255);
    position: relative;
    min-height: 100vh;
    padding: 0;
    margin: 0;
  }
  
  main {
    padding: 0 20px 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  /* CSS for navigation bar */
  
  .navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    height: 7%;
    z-index: 10;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  
    background-color: rgb(211, 162, 246);
    color: white;
    padding: 0px 0px;
  
    /* Debug border */
    /* border: solid red; */
  }
  
  .nav-list {
    display: flex;
    flex-direction: row;
    position: relative;
    right: 30px;
    list-style: none;
  }
  
  .navbar a {
    color: rgb(108, 6, 181);;
    font-weight: bold;
    margin: 0 12px;
    text-decoration: none;
    letter-spacing: 2px;
  }
  
  /* CSS for page footer */
  
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(211, 162, 246);
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
  }
  /* CSS for portfolio grid */

.project-layout {
  align-items: center;
  
} 
  
.project {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #efd1e4;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: auto;
  
    /* Debug border */
    /* border: 2px solid blue; */
  }
  
  .item-link {
    width: 70%;
  
    /* Debug border */
    /* border: 2px solid red; */
  }
  .project:hover{
    border: 2px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    opacity: 100%;
  }
  .project-image {
    max-width: 40%;
    border-radius: 3px;
    margin: 20px;
    border: 2px solid black;
  
    /* Debug border */
    /* border: 2px solid black; */
  }

  .project-image img {
    max-width: 100%;
  }

  
  .project-details {
    display: flex;
    width: 30%;
    height: 400px;
    flex-shrink: 1;
    margin: 20px;
    line-height: 1.5;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  
    /* Debug border */
    /* border: 2px solid green; */
  }
  
  .project-details a {
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
  }
  
  .project-details a:hover {
    color: var(--cg-purple);
    text-decoration: underline;
  }
  
  .project-details p {
    font-size: 15px;
    line-height: 1.5;
    padding: 20px;
    color: rgb(169, 58, 248);
  }
  
  .project-name {
    font-weight: bold;
    font-size: 30px;
    color: rgb(142, 35, 218);
  }
  /* index page */
  .about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #efd1e4;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  }
  
  .about-image img {
    max-width: 300px;
    border-radius: 3px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
  }
  
  .about-text {
    flex: 1;
    margin-left: 20px;
  }
  
  .about-text h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .about-text p {
    font-size: 20px;
    line-height: 1.5;
    color: rgb(129, 0, 221);
  }
  
  .about-link{
    float: right;
  }
/* Contact Page */
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: rgb(129, 0, 221);
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #efd1e4;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    resize: none;
  }
  
  input[type=submit] {
    background-color: #efd1e4;
    border: 2px solid #ccc;
    border-radius: 4px;
  }
  /* Add some spacing to the form */
  form {
    width: 500px;
    margin: 0 auto;
  }
/* Resume page */
  .resume-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #efd1e4;
    color: black;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  }

  .section-title {
    color: rgb(129, 0, 221);
  }
  .entry-title {
    color: rgb(169, 58, 248);
  }
  /*all page headings */
  h1{
    color: rgb(108, 6, 181);
  }